<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="./static/css/style.css">

        <title>使用者登入:</title>
    </head>
        <body>
            <section>
                <!-- 背景顏色 -->
                <div class="color"></div>
                <div class="color"></div>
                <div class="color"></div>
                <div class="box">
                    <!-- 登入框 -->
                <form method="post" action="/">
                    <div class="container">
                        <div class="form">
                            <h2>登入</h2>
                            <form>
                                <div class="inputBox">
                                    <input type="text" class="form-control" id="user_id" name="user_id" placeholder="user_id">

                                </div>
                                <div class="inputBox">
                                    <input type="password" class="form-control" id="password" name="password" placeholder="password">

                                </div>
                                <div class="inputBox">
                                    <input type="submit" class="btn btn-dirty-purple" value="登入">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </form>
        </section>
    </body>
</html>